h1 {
    margin: 0;
}

form {
    text-align: center;
    
}
input[name="q"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[name="q"]:focus {
    outline: none;
  }

  input[name="q"]:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo en hover */
    border: 1px solid #999; /* Cambia el borde en hover */
}


.contenedor-buscador{
  margin-top: 25px;
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-family: "Inter",sans-serif; 
  color: var(--text-color);
  margin-left: 5.8%;
}



