/* COLORES */
:root {
  --primary-color: #E6E6E9;
  --text-color: #232323;
  --background-color: #BDBDBD;
  --hover-color: #CCAA00;
  --secondary-background: #E6ACEC;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  height: 50px;
  border-bottom: 0.1px solid var(--primary-color);
  margin-bottom: 80px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.contenedor-filtros button,
.login-form button,
.registration-form button {

  padding: 8px 20px;
  background-color: var(--text-color);
  color: var(--primary-color);
  border: 0.1px solid var(--primary-color);
  cursor: pointer;
  width: 100%; /* Ajusta el ancho de los elementos */
  
}

.contenedor-filtros button:hover,
.login-form button:hover,
.registration-form button:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

/* Media query para dispositivos móviles y tabletas pequeñas */
@media screen and (max-width: 480px) {
  header {
    height: 40px; /* Reducir la altura del encabezado */
    font-size: 12px; /* Reducir el tamaño del texto del encabezado */
  }

  main {
    margin-bottom: 5px; /* Reducir el margen inferior de main */
  }

  footer {
    font-size: 10px; /* Reducir el tamaño del texto del pie de página */
  }

  .contenedor-filtros button,
  .login-form input,
  .registration-form input,
  #show-registration-form,
  #return-to-login,
  .login-form button,
  .registration-form button {
    width: 100%; /* Ajustar el ancho de los elementos al 100% */
  }
}

/* Media query para dispositivos móviles y tabletas */
@media screen and (max-width: 768px) {
  header {
    height: 50px; /* Altura del encabezado */
    font-size: 14px; /* Tamaño del texto del encabezado */
  }

  main {
    margin-bottom: 10px; /* Margen inferior de main */
  }

  footer {
    font-size: 12px; /* Tamaño del texto del pie de página */
  }
}

/* Media query para dispositivos con una resolución máxima de 991px */
@media screen and (max-width: 991px) {
  header {
    height: 50px; /* Altura del encabezado */
    font-size: 14px; /* Tamaño del texto del encabezado */
  }

  main {
    margin-bottom: 20px; /* Margen inferior de main */
  }

  footer {
    font-size: 14px; /* Tamaño del texto del pie de página */
  }
}

