:root {
  --primary-color: #E6E6E9;
  /* Color principal */
  --text-color: #232323;
  /* Color de texto */
  --background-color: #BDBDBD;
  /* Fondo gris */
  --hover-color: #CCAA00;
  /* Color de botones al hacer hover */
  --secondary-background: #E6ACEC;
  /* Segundo color de fondo */
}
* {
  margin: 0px;
  padding: 0px;

}

header {
  height: 55px;
  border-bottom: 0.1px solid #E6E6E9;
  margin-bottom: 75px;

}


main {
 

}


footer {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.buscador button,
.login-form button,
.registration-form button {
  padding: 8px 20px;
  background-color: #232323;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.buscador button:hover,
.login-form button:hover,
.registration-form button:hover {
  background-color: var(--hover-color);
  color: #232323;
}