:root {
  --primary-color: #E6E6E9;
  --text-color: #232323;
  --background-color: #BDBDBD;
  --hover-color: #CCAA00;
  --secondary-background: #E6ACEC;
}

* {
  margin: 0;
  padding: 0;
}

header {
  height: 55px;
  border-bottom: 0.1px solid var(--primary-color); /* Use custom property with fallback */
  margin-bottom: 75px;
}

footer {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.buscador button,
.login-form button,
.registration-form button {
  padding: 8px 20px;
  background-color: var(--text-color);
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.buscador button:hover,
.login-form button:hover,
.registration-form button:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}
