/* Estilos para la barra de navegación */
.navbar {
  position: relative;
  z-index: 1000;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-brand {
  font-family: "Cochin", serif;
  font-weight: bold;
}

.navbar .navbar-brand:hover {
  transform: scale(1.05);
}

.navbar-nav .nav-link {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  position: relative;
}

.navbar a:hover {
  font-weight: bold;
}

.login-form,
.registration-form {
  display:flex;
  flex-wrap: wrap;
}

.login-form input,
.registration-form input {
  padding: 10px;
  border: 0.1px solid var(--primary-color);
}

#show-registration-form,
#return-to-login {
  margin-top: 10px;
  display: block;
}

.navbar-nav {
  flex-direction: row;
}
/* Media query para dispositivos móviles y tabletas */
@media screen and (max-width: 768px) {
  .navbar-nav .nav-link {
    display: none; /* Ocultar todos los enlaces de navegación */
  }
  
  #carrito-link {
    display: inline-block; /* Mostrar el enlace de cesta */
  }

  #loginDropdown {
    display: inline-block; /* Mostrar el enlace de login */
  }

  .login-form,
  .registration-form {
    display: flex;
    flex-wrap: wrap;
  }

  
}
















