/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  z-index: 1000;
  margin: -20px 10% 0 20%;
}

.navbar a:hover {
  font-weight: bold;
}

 .navbar-brand {
  font-family: "Cochin", serif;
  font-weight: bold;
}

 .navbar-brand:hover {
  transform: scale(1.05);
}

.navbar-nav .nav-link {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.login-form,
.registration-form {
  display:flex;
  flex-wrap: wrap;
}

.login-form input,
.registration-form input {
  padding: 10px;
  margin: 0 0 5px 0;
}
/* Media query para dispositivos móviles y tabletas */
@media screen and (max-width: 768px) {
  .navbar-nav .nav-link {
    display: none; /* Ocultar todos los enlaces de navegación */
  }
  
  #carrito-link {
    display: inline-block; /* Mostrar el enlace de cesta */
  }

  #loginDropdown {
    display: inline-block; /* Mostrar el enlace de login */
  }

  .login-form,
  .registration-form {
    display: flex;
    flex-wrap: wrap;
  }

  
}















