/* Estilos para las imágenes del slider */
.carousel-item img {
  width: 750px;
  height: 550px;
  object-fit: cover; /* La imagen se ajusta al contenedor y se corta o rellena según sea necesario */
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .carousel-item img {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor en pantallas más pequeñas */
    height: 500px; /* Altura automática para mantener la proporción de la imagen */
    }
}





