<!DOCTYPE html>
<html lang="en" ng-app="LoginApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>EasyLearning Login</title>
  <link href="css/logincss.css" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="js/jslogin.js" type="text/javascript"></script>
</head>
<body>
<header>
  <a class="logo" tabindex="0" href="aztIndex.html">
    <img src="images/lunaTransparente.png" alt="EasyLearning" >
    <span>EasyLearning</span>
  </a>
</header>

<div class="card" ng-controller="LoginController">
  <h1>Log in | <span>individual Edition</span> </h1>
  <p>For school accounts, please go to your school login page </p>
  <a href="#">Look up your school code.</a>
  <div class ="botones">
    <button tabindex="0" class="btn"><img src="images/google.png" aria-hidden="true"><span>Log in with Google</span></button>
    <button tabindex="0" class="btn"><img src="images/Clever.svg" aria-hidden="true"><span>Log in with Clever</span></button>
    <button tabindex="0" class="btn"><img src="https:/www.clipartmax.com/png/small/117-1178605_office-365-grande-office-365-logo-2018.png" alt="Office-365 Grande - Office 365 Logo 2018 @clipartmax.com"><span>Log in with Office</span></button>
  </div>
  <div class="divider">
    <div class="filler">
      <span class="divider-line">&nbsp;</span>
    </div>
    <span class="content">Or</span>
    <div class="filler"><span class="divider-line">&nbsp;</span>
    </div>
  </div>
  <form id="formLogin" ng-submit="submitForm()">
    <div>
      <label for="email">Username/Email</label>
      <input id="email" aria-invalid="false" name="email" ng-model="email">
    </div>
    <div class="password-lbl-cnt">
      <label for="password">Password</label>
      <a name="forgotpassword" class="forgot-pass" tabindex="7" href="#">Forgot password?</a>
    </div>
    <div class="password-cnt">
      <input id="password" name="password" ng-model="password">
    </div>
    <div class="submit-cnt">
      <input type="submit" class="submit" value="Log in">
    </div>
    <p>Don’t have an account? <a name="signup" href="/signup">Sign up</a></p>
  </form>
</div>

</body>
</html>
